/*
    admin stylesheet / 8.15.08 / f.r. University of Denver - Penrose Library
*/

/* AJAX  addSurveyQuestionsForm */
#subQuestionTypeTwo { 
    display: none; 
    position: relative; 
    padding: 0px 0px 0px 0px;
    }

#subQuestionTypeThree { 
    display: none; 
    position: relative; 
    padding: 0px 0px 0px 0px;
    }

#subChoiceQuestion {
    display: none; 
    position: relative; 
    padding: 0px 0px 0px 50px;
}

#contactFieldTypeFour {
   display: none; 
   position: relative; 
   padding: 0px 0px 0px 50px; 
}

#setDepartment { 
    clear:both; 
    background:url(../images/wait.gif) center top no-repeat; 
    text-align:center;
    padding:30px 0px 25px 0px;
    font-size:12px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    display:none; 
    height:auto;
    position:absolute;
    top: 75px;
    left: 400px;
}

#saving { 
    clear:both; 
    background:url(../images/wait.gif) center top no-repeat; 
    text-align:center;
    padding:30px 0px 25px 0px;
    font-size:12px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    display:none; 
    height:auto;
    position:absolute;
    top: 200px;
    left: 500px;
    }

.adminForm {
    padding: 0px 0px 0px 15px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    }

.adminForm input {
    border: 1px solid #000;
	padding: 2px;
}

.adminForm textarea {
    border: 1px solid #000;
	padding: 2px;
}

.adminForm a:link {
	text-decoration: underline;
	color: #000;
}

.adminForm fieldset {
	width: 30%;
}

.dashboard {
    padding: 0px 0px 0px 15px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}
    
.dashboard a:link {
	text-decoration: none;
	color: #000;
}

.dashboard td.linkGroup {
    text-align: left;
    width: 100px;
}

.formFields {
    padding: 0px 0px 0px 5px;
    color: red;
}

#adminFooter {
	font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 0px 10px	
}

hr {
    color: #fff;
    height: 1px;
    width: 100%;
    
}

label { 
    padding: 0px 
    }

label.error { 
    float: none; 
    color: red; 
    padding-left: .5em; 
    vertical-align: top; 
    }

/* recordTypeForm */

#system {
    display: none; 
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#otherText {
    display: none; 
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#otherPhysicalText {
    display: none; 
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#showOtherPhysical {
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#hideOtherPhysical {
	display: none; 
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#otherElectronicText {
    display: none; 
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#showOtherElectronic {
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#hideOtherElectronic {
	display: none;
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#otherDUBuildingText {
    display: none; 
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#showDUBuildingText {
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#hideDUBuildingText {
    display: none; 
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#otherOffsiteStorageText {
    display: none; 
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#showOffsiteStorageText {
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#hideOffsiteStorageText {
    display: none; 
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#otherElectronicSystemText {
    display: none; 
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#showElectronicSystemText {
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#hideElectronicSystemText {
    display: none; 
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#paperVersion {
    display: none; 
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#otherBuildingText {
    display: none; 
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#otherStorageText {
    display: none; 
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#recordLocation {
    display: none; 
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#backupMediaText {
    display: none; 
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#otherRecordLocationText {
    display: none; 
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#legalRequirments {
    display: none; 
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#destruction {
    display: none; 
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#transferToArchives {
    display: none; 
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#vitalRecords {
    display: none; 
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#sensitiveInformation {
    display: none; 
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#security {
    display: none; 
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#duplication {
    display: none; 
    position: relative; 
    padding: 0px 0px 0px 20px;
}

#newSearch {
	display: none; 
    position: relative; 
}

/* search results table */
table { 
	font-size: 100%;
    border: 0px #ccc solid;  
    width: 100%;
}

th { 
    background-color:#9F3528;
    color: #EBE7E6;
    text-align: center;
    padding: 4px;
}

td {
   padding: 4px; 
   text-align: left;
}

.oddtr {
	background-color:#EBE7E6;
}

.eventr {
	background-color:#F8F8F8;
}
.trover {
	background-color: #F5E384;
}
.trclick {
	background-color: #F5E384;
}

/* styles urls on search result headers (retention schedule) */
th a:link {
	color: #EBE7D7;
}

th a:visited {
	color: #EBE7D7;
}

th a:active {
	color: #EBE7D7;
}

#hideMe {
	display: none; 
}

#sorting {
	clear:both; 
    background:url(../images/wait.gif) center top no-repeat; 
    text-align:center;
    padding:30px 0px 25px 0px;
    font-size:12px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    display:none; 
    height:auto;
    position:absolute;
    top: 170px;
    left: 380px;
}

#loading {
    display: none; 
    position: relative; 
}

#checkBox {
    display: none; 
    position: relative; 
}

#loadingContainer {
	height: 10px;	
}

#auContainer {
	border: 1px solid #000;
	overflow: auto;
	padding: 5px 0px 0px 5px;
	height: 75%;
	width: 85%;
	font-size: 10px;
}
	
#associatedUnits {
	/*border: 1px solid #000;*/
	float: right;
}

#associatedUnitsResults {
	padding: 0px 0px 0px 0px;
	text-align: left;
	float: left;
}

.deleteSpan {
	text-align: right;
	display: block;
	padding: 0px 15px 0px 0px;
	margin-top: -22px;
}

#approvedByCounselDate {
	width: 100px;
}

.ui-accordion-sections {
	font-size: 12px;
}
form ul {
    list-style: none;
}
