/*<group=structural styles>*/
html {height:100.02%;}
body {margin:0px; padding:0px; font-family:Helvetica, Arial, sans-serif; font-weight:normal; font-size:small;}
html>body {font-size:small;} /* be nice to Opera */
.skipnav {float:left; height:0; text-indent:-5000px; overflow:hidden;}
#main-wrapper {width:100%; margin:0; padding:0; text-align:center;}

#global-header {width:100%; margin:0; padding:0; height:40px; text-align:center;}
#global-inside-header {height:40px; width:960px; overflow:hidden; margin-left:auto; margin-right:auto;}
#global-header h1 {float:left; display:inline; width:250px; height:28px; overflow:hidden; text-indent:-5000px; margin:10px 0 1px 2px;}
#global-header h1 a {text-indent:-5000px; background: #fff url("../images/global/white/global-logo.gif") top left no-repeat; width:250px; height:28px; display:block; overflow:hidden;}
#global-header-nav {width:190px; height:17px; float:right; background: url("../images/global/white/global-nav.gif") no-repeat; margin:13px 0px; position:relative; padding:0;}
#global-header-nav li {margin:0px; padding:0px; list-style:none; position:absolute; top:0px;}
#global-header-nav li, #global-header-nav li a{height:17px; display:block;}

#global-nav_news{left:0px; width:41px; text-indent:-5000px; overflow:hidden;}
#global-nav_events{left:41px; width:52px; text-indent:-5000px; overflow:hidden;}
#global-nav_directory{left:93px; width:70px; text-indent:-5000px; overflow:hidden;}
#global-nav_az{left:164px; width:26px; text-indent:-5000px; overflow:hidden;}
/* Sprite Hovers */
#global-nav_news a:hover {background: transparent url("../images/global/white/global-nav.gif") -0px -17px no-repeat}
#global-nav_events a:hover {background: transparent url("../images/global/white/global-nav.gif") -41px -17px no-repeat}
#global-nav_directory a:hover {background: transparent url("../images/global/white/global-nav.gif") -93px -17px no-repeat}
#global-nav_az a:hover {background: transparent url("../images/global/white/global-nav.gif") -164px -17px no-repeat}

body.crimson #global-nav_news a:hover {background: transparent url("../images/global/crimson/global-nav.gif") -0px -17px no-repeat}
body.crimson #global-nav_events a:hover {background: transparent url("../images/global/crimson/global-nav.gif") -41px -17px no-repeat}
body.crimson #global-nav_directory a:hover {background: transparent url("../images/global/crimson/global-nav.gif") -93px -17px no-repeat}
body.crimson #global-nav_az a:hover {background: transparent url("../images/global/crimson/global-nav.gif") -164px -17px no-repeat}

body.red #global-nav_news a:hover {background: transparent url("../images/global/red/global-nav.gif") -0px -17px no-repeat}
body.red #global-nav_events a:hover {background: transparent url("../images/global/red/global-nav.gif") -41px -17px no-repeat}
body.red #global-nav_directory a:hover {background: transparent url("../images/global/red/global-nav.gif") -93px -17px no-repeat}
body.red #global-nav_az a:hover {background: transparent url("../images/global/red/global-nav.gif") -164px -17px no-repeat}

#global-search {float:right; display:inline; top:0; overflow:hidden; margin:10px 0 0 0; padding:0; height:30px;}
#global-searchInput {width:150px; vertical-align:middle; padding:0; font-size:90%;}
#global-search p {margin:0 0 0 11px; padding:0;}

#inner-wrapper {padding:0; width:960px; margin:0 auto; text-align:left;}
/*#local-header, #local-footer {background-color:#CC6600; color:#fff;}*/
#local-header a, #local-footer a {color: #900;}

/* -----------------<Body Class Overrides>-------------------------------*/
#global-footer {width:100%; margin:0; padding:0; text-align:center; color:#886c60; font-family:Helvetica, Arial, sans-serif;}
#global-footer a, #global-footer a:link, #global-footer a:visited {color:#9d8074; font-weight:normal;}
#global-footer-nav p {text-align:center; margin:0 auto; padding:5px 0 10px 0; line-height:15px; font-size:85%;}
#global-footer-nav {margin:0 auto; padding:0; width:960px;}
#global-footer-nav ul{text-align:center; margin:0; padding:10px 0 5px 0; font-size:85%;}
#global-footer-nav li {display:inline; padding:0; margin:0;}
#global-footer-nav li a {font-weight:normal; text-decoration:none; padding:0 4px 0 0; margin:0; border-right:1px solid #9d8074;}
#global-footer-nav li.last a {border-right:none;}
span.copyright {font-weight:bold;}
span.copyright a:link, a:visited, a:hover {text-decoration:underline;}

/*LOCAL FOOTER STYLES */
#local-footer {margin:0 auto 0 auto; padding:0; text-align: center;	font-family:Helvetica, Arial, sans-serif; border-bottom:1px thin #cbcbd0;}
#local-footer p {text-align:center; margin:0 auto; padding:5px 0; line-height:15px; font-size:85%;}
#local-footer a {font-weight:bold;}
#local-footer ul{text-align:center; margin:0; padding:10px 0 5px 0; font-size:85%;}
#local-footer li {display:inline; padding:0; margin:0;}
#local-footer li a, #local-footer li a:link, #local-footer li a:active  {font-weight:bold; text-decoration:none; padding:0 4px 0 0; margin:0; border-right:1px solid #9bb3bf; color:#9bb3bf;}
#local-footer li.last a {border-right: none;}
/*------------- Branded Rules for Overrides and Color Swaps -----------------------------------*/

body.black, body.black #global-header, body.black #global-inside-header, body.black #global-header h a1, body.black #global-footer {background-color:#000; color:#ebe6db;}
body.brown, body.brown #global-header, body.brown #global-inside-header, body.brown #global-header h1 a, body.brown #global-footer {background-color:#452b21; color:#ebe6db;}
body.chocolate, body.chocolate #global-header, body.chocolate #global-inside-header, body.chocolate #global-header h1 a, body.chocolate #global-footer  {background-color:#5c372a; color:#ebe6db;}
body.crimson, body.crimson #global-header, body.crimson #global-inside-header, body.crimson #global-header h1 a, body.crimson #global-footer {background-color:#6d0c0c; color:#ebe6db;}
body.gray, body.gray #global-header, body.gray #global-inside-header, body.gray #global-header h1 a, body.gray #global-footer {background-color:#f0f0f0; color:#886c60;}
body.red, body.red #global-header, body.red #global-inside-header, body.red #global-header h1 a, body.red #global-footer {background-color:#990e0e; color:#ebe6db;} 
body.sand, body.sand #global-header, body.sand #global-inside-header, body.sand #global-header h1 a, body.sand #global-footer {background-color:#ebe6db; color:#886c60;}

body.black #global-header-nav {background: url("../images/global/black/global-nav.gif") no-repeat;}
body.brown #global-header-nav {background: url("../images/global/brown/global-nav.gif") no-repeat;}
body.chocolate #global-header-nav {background: url("../images/global/chocolate/global-nav.gif") no-repeat;}
body.crimson #global-header-nav {background: url("../images/global/crimson/global-nav.gif") no-repeat;}
body.gray #global-header-nav {background: url("../images/global/gray/global-nav.gif") no-repeat;}
body.red #global-header-nav {background: url("../images/global/red/global-nav.gif") no-repeat;}
body.sand #global-header-nav {background: url("../images/global/sand/global-nav.gif") no-repeat;}

#global-searchBtn {vertical-align:middle; width:24px; height:20px; margin:0; border:0; padding:0; text-indent:-5000px; overflow:hidden; cursor:pointer; cursor:hand;} 

#global-searchBtn {background: transparent url("../images/global/white/global-go.gif") top left no-repeat;}
body.black #global-searchBtn {background: transparent url("../images/global/black/global-go.gif") top left no-repeat;}
body.brown #global-searchBtn {background: transparent url("../images/global/brown/global-go.gif") top left no-repeat;}
body.chocolate #global-searchBtn {background: transparent url("../images/global/chocolate/global-go.gif") top left no-repeat;}
body.crimson #global-searchBtn {background: transparent url("../images/global/crimson/global-go.gif") top left no-repeat;}
body.gray #global-searchBtn {background: transparent url("../images/global/gray/global-go.gif") top left no-repeat;}
body.red #global-searchBtn {background: transparent url("../images/global/red/global-go.gif") top left no-repeat;}
body.sand #global-searchBtn {background: transparent url("../images/global/sand/global-go.gif") top left no-repeat;}

#global-searchInput {height:16px;}

body.black #global-header h1 a {background: #000 url("../images/global/white/global-logo.gif") top left no-repeat;}
body.brown #global-header h1 a {background: #452b21 url("../images/global/brown/global-logo.gif") top left no-repeat;}
body.chocolate #global-inside-header h1 a {background: #5c372a url("../images/global/chocolate/global-logo.gif") top left no-repeat;}
body.crimson #global-header h1 a {background: #6d0c0c url("../images/global/crimson/global-logo.gif") top left no-repeat;}
body.gray #global-header h1 a {background: #f0f0f0 url("../images/global/gray/global-logo.gif") top left no-repeat;}
body.red #global-header h1 a {background: #990e0e url("../images/global/red/global-logo.gif") top left no-repeat;}
body.sand #global-header h1 a {background: #ebe6db url("../images/global/sand/global-logo.gif") top left no-repeat;}

#content {color:#000;}

body.a760 #global-inside-header, body.a760 #inner-wrapper, body.a760 #content-wrapper, body.a760 #local-footer, body.a760 #global-footer-nav {width:760px;}

body.inset #global-inside-header {width:940px; padding-left:10px; padding-right:10px;}
body.a760.inset #global-inside-header, body.a760.inset #global-footer-nav {width:740px;}
body.unbranded #global-inside-header h1 a {background:none; text-indent:0; font-family:Helvetica, Arial, sans-serif;  text-align:left;}

/* internal search styles */
#internal-search {float:right; font-family:Helvetica, Arial, sans-serif; text-align:left; font-size:75%; margin:0; padding:0;}
#internal-search ul {list-style:none; float:left; margin:9px 0 0 0; padding:0; list-style-position:outside; display:inline;}
#internal-search li a {color:#fff; font-weight:bold; text-decoration:none; margin:0; padding:0 0 0 7px;}
#internal-search li a:hover {background: url("../images/shared/searchArrowWhite.gif") no-repeat 0 50%;}

.buttonLink {
	Border: none; 
	background: none; 
	margin-left: 40px; 
	color: #990000;
	border-bottom: 1px solid;
	height: 13px;
	font-size: 10px;
	margin-bottom: 2px;
	text-indent: -3px;
}

.buttonLink:hover {
	border-bottom: none;
}

.button {
    border: 1px solid #000000;
    padding: 2px;
}