/* import browser reset css */
@import "http://du.edu/display/css/global/reset.css";

/*This is important because reset css formats the page to look the same across web browsers such as opera, firefox, IE, safari, and so on.*/

/*===========*/
/* RED Theme */
/*===========*/
body.red, body.red #global-header, body.red #global-footer {
	background: #fff url("../images/bg_dark.gif") repeat top center; 
	height: 100%; 
	color: #333;
}
body.red #global-searchBtn {background: transparent url("http://du.edu/display/images/global/black/global-go.gif") top left no-repeat;}
body.red #global-inside-header { margin: 0 auto; background: #990E0E;}
body.red #top-nav li.selected a, body.red #top-nav li.selected a:link, body.red #top-nav li.selected a:visited, body.red #top-nav li a:hover { background: url("../images/topnavActiveBG_red.gif") repeat center; color: #fff;}

/*===============*/
/* HTML Elements */
/*This section determines the design of the structure accross the web site. Each section of css names are directly effecting a certai section of the HTML website. For example, h1, here in css, is styalizing the header (h1) in the html document. If you change something in h1 in the css it will make the same change in all header pages of this website. To determine what section is what, go into the HTML document and in design view click what it is you want to edit. You can see the breakdown on the bottom of the window. For example, if you click on the top navigation bar in the HTML, it will show the breakdown:"<body.white two><div#main-wrapper><div#inner-wrapper><div#content-wrapper><div#top-nav><ul><li><a>" If you scroll down the css you can find the sections #top-nav where the css edits those portions.  */
/*===============*/
* html { height: 100.02%; }
a:active, a:focus {
	outline: none;
} 
a, a:link, a:active, a:visited {
	color: #990000; 
	line-height:13px;
}
a:hover {
	text-decoration:none;
}
img { 
	border: none; 
}
h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 135%;
	color: #990000;
	margin: 15px 20px 7px 18px; 
}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #990000;
	margin: 10px 20px 5px 18px;
}
h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #462b22;
	margin: 10px 20px 5px 18px;
}

label.error { 
    float: none; 
    color: red; 
    padding-left: .5em; 
    vertical-align: top; 
    }

select { 
	margin: 0 0 10px 0;
	width: 275px;
	border: 1px solid #000;
	padding: 2px;
}

hr {
    color: #fff;
    height: 1px;
    width: 95%;
    
}

/*======================*/
/* global.css Overrides */
/*======================*/
#global-header h1 { padding-left: 3px;}
#global-search { padding-right: 5px; }
#local-footer { 
	float: left;
	clear: both; 
	border-top: 1px solid #cbcad2; 
	border-bottom: 1px solid #cbcad2; 
	background:#fff; 
	margin: 0 auto; 
	padding: 3px 0; 
	color: #9bb3bf; 
}
#local-footer p, #local-footer p a:link, #local-footer p a:visited, #local-footer p a { color: #333;}
#local-footer p {width: 960px; margin: 0 auto 0 auto; font-weight: bold;}
#local-footer a { color: #9bb3bf; text-decoration: none; } 
#global-footer { float: left; clear: both}
#global-footer a, #global-footer a:link, #global-footer a:visited {color: #9bb3bf;}
#global-footer-nav {background: #fff;}
#global-footer p {border-bottom: 0px; color: #9bb3bf;}
#global-footer p a, #global-footer p a:link, #global-footer p a:visited {font-weight: bold;}

/*===========*/
/* STRUCTURE */
/*===========*/
#inner-wrapper {background: #fff;}

#content-wrapper{ 
	width: 960px; 
	margin: 0 auto; 
	padding: 0 0 0 0;
	height: 100%;
	background: #fff;  
	float: left;
} 

#masthead {
	width: 960px;
	background: #fff;
	height: 160px;
	float: left;
}
#masthead .header {
	float: left;
	background: #fff url("../images/header.jpg") no-repeat center bottom;
	width: 960px;
	height: 160px;
	cursor: hand;
}

.bottom-border {
	background: url("../images/mainContentBorder.jpg") repeat-x;
	height: 5px;
	width: 100%;
	margin:0;
	padding:0;
	float: left;
	clear: both;
}

#main-content {
	float: left;
	margin: 0;
	padding: 0;
}
body.two #main-content {
	background: #EBE7E6;
	width: 960px; 
	color: #000;
}

/*IE min-height hack*/
/*This must be left alone as it fixes problems with Internet explorer*/
* html #main-content {height: 550px;}
#main-content p {
	font-size: 105%;
	line-height: 16px;
	margin: 0 30px 10px 20px;
	padding: 0;
}

#main-content input {
    border: 1px solid #000;
	padding: 2px;
}

#main-content textarea {
    border: 1px solid #000;
	padding: 2px;
}

.bordered {
	border: 1px solid #e2d6bc;
}

#loginMessage {
    float: right;
    width: 625px;
    /*height: 200px;*/
    padding: 10px 25px 20px 10px;
}

#loginForm {
    float: left;
    width: 175px;
    /*height: 200px;*/
    padding: 10px 15px 20px 60px;
}

.loginForm {
    background-color: #ccc;
    border: 1px dotted #000;
    padding: 5px;
    width: 130px;
}